body {
  font-family: Roboto;
  font-size: 16px;  
}
body>div{
	background-color: #1A1A1A;
	color: #A2A5A3;
	position: relative;
}
section{
	width: 54.5%;
}
nav{
	display: inline-block;
	width: 731px;
	height: 349px;
	position: absolute;
	bottom: 135px;
    right: -1px;
}


h3{
	margin: 17px 0 0 10px;
	display: inline-block;
	width: 115%
}
h3>a{
	text-decoration: none;
	color: white;
}
h3>a:hover{
	text-decoration: underline;
}
h4,h5{
	margin: 3px 10px;
}
p{
	margin: 7px 0 0 10px;
	padding-bottom: 12px;	
	display: inline-block;
}
p>a{
	text-decoration: none;
	color: #A2A5A3;
}
ol{
	margin: 8px 0;
	list-style: none;
	padding-left: 0;
	height: 215px;
}
ol>li{
	margin: 0;
	    height: 63px;
}
ol>li>div>img{
	float: left;
	margin-top:9px;
	width: 79px;
}
.playlist-info{
	position: relative;
}
.playlist-info>div {
	width: 730px;
	border-bottom: 3px solid #313131;
}
.playlist-info>.Settings{	
	content: url("imgs/settings.png");
	position: absolute;
	top: 25px;
    left: 680px;
}
.controls{
	margin-top: 8px;
}
.controls>.repeat{
	content: url(imgs/unshufing.png);
	margin-left: 6px;
}
.controls>.random{
	content: url(imgs/shufing.png);
}
.playlist{
	background-color: #222222;
	width: 730px;
	height: 185px;	
}
.playlist>div{
	display: inline-block;
}
.inactive-clip>div>span{
	float: left;
	margin: 21px 10px 5px;
}
.inactive-clip:hover{
	background-color: #525252;
}
.active-clip{
	background-color: #3A3A3A;
	margin:0;
}
.active-clip>div>span{
	content: url(imgs/play.png);
	float: left;
	margin: 21px 10px 30px;
}