.title{
	font-style: italic;
	font-size: 11px;
	vertical-align: top
}
.table{
	width: 300px;
	background: #666666;
	color: white;
	font-size: 11px;
	font-family: sans-serif;	
}
.id{
	text-align: left;
	color: #ADBAAA;	
	font-size: 16px;
}
.grey{
	color: #ADBAAA;
}
.yellow{
	color: #FFF2B2;
}
.content:before {
		content: url("imgs/dot.png");
		display: inline-block;
        position: relative;
        left: -2px;
}        
.red{
	color: #FF0000;
	font-weight: bold;
}
#orange{
	color: #DE6A24;
	font-weight: bold;
}