body{
	background: #A9A9A9;
	font-size: 16px;	
}
h1,a{
	 color: #FFFFFF;
	 text-decoration: none;	
	 font-size: 26px;	 
}
ul{
	list-style: none;
	font-size: 25px;
	font-weight: bold;
	text-align: center;	
}
.header{
	text-align: center;
	font-size:40px;
}
.current{
	background: #D3D3D3
}
.line{
	text-decoration: underline;
}
.end{
	text-align: center;
	font-size: 17px;
}
div{
	vertical-align: bottom;
	font-size: 12px;
	background: #FFFFFF;
	width: 140px;
}
footer>p{
	font-size: 14px;

}
p{
	text-align: justify;	
	font-size: 19px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
}