button{
	width: 80px;
	height: 25px;
	background-image: url(imgs/button.png);
}
h1{
	font-weight: normal;
	padding: 11px;
}
.Btn{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.content{
	background-color: white;
	border: 1px solid #A3A3A3;
	width: 570px;
	height: 125px;
	position: relative;
	margin: 5px 10px 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.main{
	background: #EEEEEE;
	border: 1px solid #EEEEEE;
	width: 597px;
	height: 575px;
	border-radius: 18px;
}
.photo{
	display: inline-block;
	float: left;
	margin: 20px;
	border: 1px solid #B2ADA7;
	height: 82px;
}