span{
	font-weight: bold;
	font-size: 1.3em;
	border-left: 3px solid black;
	border-top:3px solid black;
	border-bottom: 3px solid black;
	border-top-left-radius: 15px;
	padding:10px;
}
.avengers{
	list-style: none;;
}
.avenger{
	display: inline;
}
.avenger:hover .preview{
	display: block;
}
.avenger:hover span{
	background-color:  #CCCCCC;
	text-decoration: underline;
	border-bottom: 3px solid white;
}
.avenger:last-of-type span{
	border-right: 3px solid black;
}
.preview{
	width: 717px;
	background-color: #CCCCCC;
	display: none;
	border: 3px solid black;
	position: absolute;
	top: 49px;
}
.preview>img{
	float: left;
	width: 465px;
	border:8px solid white;
	border-radius: 10px;
	margin: 20px 40px 20px 10px;
}
.skills{
	font-size: 1.4em;
	list-style: none;
	margin-top: 73px;
}
.skills>li{
	margin: 30px;
	font-size: 1.1em;
}
#root {
  width: 960px;
  font-size: 16px;
  font-family: "Times New Roman";
  color: #000;