body{
	margin: 0;
	padding: 0;
	font-family:"Trebuchet MS", Tahoma, Arial, "Courier New", Serif;
    font-weight: normal;
    font-size: 22px;
    border: 1px solid black;
    width: 95%;
    display: flex;
    flex-direction: row;
}
nav{
	order: 1;
	width: 20%;
}
main{
	order: 2;
	border: 1px solid #808080;
	height: 185%;
}
section{
	margin: 3px;	
}
button{
	background-color: white;
	border:	1px solid black;
	width: 20%;
	height: 2.5%;
	margin: 5px;
	text-align: center;  
}
hr{
	width: 935px;
}
h1{
	
	margin: 5px 15px;
}
h3{
	background-color: #808080;
	color: white;
	margin: 5px;
}
p{
	width: 759px;
	margin-left: 6px;
}
section>nav{
	width: 100%;
}
section>a{
	display: block;
	color: #AF5454;
	margin-bottom: 15px;
	margin-left: 6px;
}
img{
	width: 157px;
	height: 119px;
	float: left;
	padding: 3px;	
	margin: 26px 19px 48px 5px;
}
aside{
	order: 3;
	display:inline;
	width: 22%;
}
aside>div{     
	border: 1px solid #808080;
	margin: 2px;
	padding: 2px;
	display: block;	
}
aside>div>.aside a{
	display: inline-block;
	text-align: center;
	color: #AF5454;
	margin: 1.3px;
}
aside>div>header>h3{
	width: 324px;
	margin: 0;
	font-size: 22px;
	text-align: center;
}
.navigation, .title, .home_menu{
	display: list-item;
	color: black;
}
.navigation, nav>a{
	text-decoration: none;
}
.title{
	color: #AF5454;
	padding-top: 10px;
}
.home_menu:before {
	content: url(imgs/home.png);
	padding-left: 5px;
}
.learn{
	padding-bottom: 30px;
}
.Tutorial{
	font-weight: bold;
	/*margin: 27px 5px 20px;*/
}
.search{
	display: inline;
}
.searchBtn{
	width: 10%;
	height: 25px;
	text-align: center;
	border: 1px solid #215486;
	border-radius: 3px;
	margin-left: 2px;
}
.search_field{
	border: 1px solid #BACADA;
	height: 25px;
	width: 71%;
	margin: 15px 5px 5px 19px;
}
.dynamicBtn{
	background: rgb(191,213,229); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(191,213,229,1) 0%, rgba(115,168,203,1) 0%, rgba(175,206,228,1) 6%, rgba(176,209,230,1) 96%, rgba(115,168,203,1) 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(191,213,229,1) 0%,rgba(115,168,203,1) 0%,rgba(175,206,228,1) 6%,rgba(176,209,230,1) 96%,rgba(115,168,203,1) 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(191,213,229,1) 0%,rgba(115,168,203,1) 0%,rgba(175,206,228,1) 6%,rgba(176,209,230,1) 96%,rgba(115,168,203,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd5e5', endColorstr='#73a8cb',GradientType=1 ); /* IE6-9 */
    width: 54%;
    height: 40px;
    margin: 5px 61px;
}
.aside{
	width: 310px;
	margin: 1px;
	text-align: center;
}