body{
	font-family:"Trebuchet MS", Tahoma, Arial, "Courier New", Serif;
    font-weight: normal;
    font-size: 22px;
    border: 1px solid black;text-align: center;
    width: 52%;
    
}
main{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
fieldset{
	display: inline-block;
	width: 42%;
	
}

img{
	float: left;
}
section{
	margin: 5px;
}
.price{
	display: inline-block;
	margin: 2px;
}
.result{
	border: 1px solid black;
	width: 72%;
	padding-bottom: 12px;
}
.criterion>div{
	margin: 77px 0 10px;
}
