h1{
	text-align: center;
	background-color: #CCCCCC;
	height: 65px;
	width: 1015px;
	color: white;
	text-shadow: 3px 2px 1px #000;
	padding-top: 15px;
	margin: 20px 281px 35px;
}
h1:before{
	content: url(imgs/logo.png);
	vertical-align: -12px;
	padding: 10px;
	background-color: #CCCCCC;
}
div{
	position: relative;
}
ul{
	margin: 0 auto;
	padding: 0;
	width: 1020px;
	display: flex;
}
ul>li{
	list-style: none;
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 0;
	margin: 2px;
}
ul>li>img {
  border-radius: 15px;
}
ul>li>strong{
	font-size: 1.2em;
	position: absolute;
	top: 0;
	padding: 10px 0;
	color: white;
	background-color: black;
	opacity: 0.3;
	width: 100%;
	height: 30px;
	border-top-right-radius: 17px;
	border-top-left-radius: 17px;
}
ul>li>a{
	display: none;
	background-color: #636363;
	color: white;
	width: 199px;
	height: 27px;
	text-align: center;
	text-decoration: none;
	padding-top: 6px;
}
ul>li:hover img{
  height: 230px;
}
ul>li:hover a{
	display: block;
	width: 100%;
}
ul>li>:hover strong{
	opacity: 1;
	top:0;	
}