body{
	font-size: 20px;
}
a{
	text-decoration: none;
}
a:hover{
	color:red  
}
ul{
 	list-style: none;
}
ul>li{
 	list-style: none;
  	position: relative;
}
li:hover ul{
 	display: list-item;
}
ul>li>ul{
 	display: none;
 	list-style: none;
 	position: absolute;
 	left: 38px;
 	top: 0px;
}
.opacity{
	list-style: none;
	display: list-item;
	opacity: 0.1;
}
.curent:hover .opacity{
 	opacity: 3.5;
 	color: red;
}